<div class="row">
  <div class="col-sm-10">
    <h1>Books by <%= @author %></h1>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Home</a>
    </div>
    <div class="row">
      <a href="/books" role="button" class="btn btn-warning" style="float: right; margin-top: 5px">All Books</a>
    </div>
  </div>
</div>

<form action="/checkout/success" method = "post">
<input id="id" name="id" type="hidden" value="<%= @patron_id%>">
<ul class="book-list" style="font-size: 20px; list-style:none; ">
  <% @books.each do |book| %>
  <li class="book" style="color:purple;">
    <%= book.title() %><button class="btn btn-info" type="submit" style="margin-left:10px; font-size:12px; padding:4px;">Check Out</button>
    <input name="book_id" type = "hidden" id="book_id" value = "<%= book.id %>">
  </li>
  <br>
  <% end %>
</ul>
</form>
