<a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Return Home</a>

<h1>Books by <%= @author %></h1>

<form action="/checkout/success" method = "post">
<input id="id" name="id" type="hidden" value="<%= @patron_id%>">
<ul class="book-list" style="font-size: 20px; list-style:none; ">
  <% @books.each do |book| %>
  <li class="book" style="color:purple;">
    <%= book.title() %><button class="btn btn-warning" type="submit" style="margin-left:10px;">Checkout!</button>
    <input name="book_id" type = "hidden" id="book_id" value = "<%= book.id %>">
  </li>
  <br>
  <% end %>
</ul>
</form>
