<div class="row">
  <div class="col-sm-6">
    <h1><span style="font-size:50px;">Library Books</h1>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Home</a>
    </div>
  </div>
</div>

<ul class="book-list" style="font-size: 20px; list-style:none; margin-top:10px;">
  <% @books.each do |book| %>
  <li><a class="book" style="color:purple;" href="/book/<%= book.id() %>"><%= book.title() %>; <%= book.author() %></a></li>
  <% end %>
</ul>
