

<div class="row">
  <div class="col-sm-6">
    <h1 style="font-size:70px;">Welcome</h1>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Home</a>
    </div>
    <div class="row">
      <a href="/books" role="button" class="btn btn-warning" style="float: right; margin-top: 5px">All Books</a>
    </div>
    <div class="row">
      <a href="/patrons" role="button" class="btn btn-info" style="float: right; margin-top: 5px">All Patrons</a>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-6">
    <h2>Add a Book:</h2>
    <form action="/books/new" method="post">
      <div class="form-group">
      <label for="title">Book Title</label>
      <input name="title" id="title" type="text" class="form-control" placeholder="ex: Harry Potter and the Sorcerer's Stone">
      </div>
      <div class="form-group">
        <label for="author">Book Author</label>
        <input name="author" id="author" type="text" class="form-control" placeholder="ex: J.K. Rowling">
      </div>

      <button type="submit" class="btn btn-success">Add Book!</button>
    </form>
  </div>

  <div class="col-sm-6">
    <h2>Add a Patron:</h2>

    <form action="/patrons/new" method="post">
      <div class="form-group">
        <label for="name">Patron Name</label>
        <input name="name" id="name" type="text" class="form-control" placeholder="ex: Susie Q">
      </div>

      <button type="submit" class="btn btn-success">Add Patron!</button>
    </form>
  </div>
</div>
