
<a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Return Home</a>


<ul class="book-list" style="font-size: 20px; list-style:none; margin-top:50px; ">
  <% @patrons.each do |patron| %>
  <li><a class="book" style="color:purple;" href="/patron/<%= patron.id() %>"><%= patron.name() %></a></li>
  <% end %>
</ul>
