<a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Return Home</a>

<h1>Welcome Patron</h1>


<form action = "/process_patron" method= "get">
  <div class="form-group">
    <label for="patron">Find your name:</label>
    <select id="patron" name="patron" type"text">
      <% @allpatrons.each do |patron| %>
    <option value="<%= patron.id()%>"><%= patron.name() %></option>
      <% @patron_id = patron.id() %>
    <% end %>
    </select>
  </div>


  <button type="submit" class="btn btn-success">Go!</button>
</form>
